{% extends 'front/layout/main.html' %}
{% load staticfiles clb_tags %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/message.css' %}">
{% endblock %}
{% block body %}
<div class="layout-box">
   <ul class="breadcrumb-navigation-container">
      <li class="icon-box"><a href="#" ><img src="{% static 'images/dingdan.png' %}"></a></li>
      <span class="lj-icon"><img src="{% static 'images/jt-1.png' %}"></span>
      <div class="for-box">
        <li class="name-box">
          <a href="{% url 'index' %}" >在线聊天</a>
        </li>
        <span class="lj-icon"><img src="{% static 'images/jt-2.png' %}"></span>
      </div>
    </ul>
    <div class="message-container">
        <div class="message-left-container">
          <ul class="contacts-list">
            {% if msg_friends_list %}
              {% for mf in msg_friends_list %}
                <a style="text-decoration:none;" href="{% url 'message_list'  %}?friend_id={{ mf.friends.id }}">
                    {% if mf.friends.id == friend_id %}
                        <li class="active">
                          <div class="header-img">
                            {% if mf.friends.user_pho %}
                                <img src="{% url 'enter_website' %}media/{{ mf.friends.user_pho }}" class="user-logo">
                            {% else %}
                                <img src="{% static 'images/touxiang_d.png' %}" class="user-logo">
                            {% endif %}
                          </div>
                          <div class="user-info">
                            <div class="info-box">
                              <p class="name">{{ mf.friends.user_name }}</p>
                              <p class="time">{{ mf.created_at | hdatetime }}</p>
                            </div>
                            <p class="new-message">{{ mf.lastest_msg }}</p>
                          </div>
                        </li>
                    {% else %}
                        <li>
                          <div class="header-img">
                             {% if mf.friends.user_pho %}
                                <img src="{% url 'enter_website' %}media/{{ mf.friends.user_pho }}" class="user-logo">
                            {% else %}
                                <img src="{% static 'images/touxiang_d.png' %}" class="user-logo">
                            {% endif %}
                          </div>
                          <div class="user-info">
                            <div class="info-box">
                              <p class="name">{{ mf.friends.user_name }}</p>
                              <p class="time">{{ mf.created_at | hdatetime }}</p>
                            </div>
                            <p class="new-message">{{ mf.lastest_msg }}</p>
                          </div>
                        </li>
                    {% endif %}
                </a>
             {% endfor %}
          {% else %}
                <div>暂时没有好友</div>
          {% endif %}
          </ul>
        </div>
        <div class="message-right-container">
          <p class="name-box">在线聊天</p>
          <div class="message-info-box">
            <div class="message-info-list">
              {% for msg in msg_list %}
                  {% if msg.send_user.id == friend_id %}
                      <div class="left-message-box message-box">
                       {% if msg.send_user.user_pho %}
                            <img src="{% url 'enter_website' %}media/{{ msg.send_user.user_pho }}" class="user-logo">
                        {% else %}
                            <img src="{% static 'images/touxiang_d.png' %}" class="user-logo">
                        {% endif %}
                        {% if msg.msg_type == 'Word' %}
                            <p class="message-text">{{ msg.msg_content }}</p>
                        {% endif %}
                        {% if msg.msg_type == 'Img' %}
                            <p class="message-text">
                                <img src="{% url 'enter_website' %}media/{{ msg.msg_img }}">
                            </p>
                        {% endif %}
                      </div>
                  {% else %}
                      <div class="right-message-box message-box">
                        {% if msg.msg_type == 'Word' %}
                            <p class="message-text">{{ msg.msg_content }}</p>
                        {% endif %}
                        {% if msg.msg_type == 'Img' %}
                            <p class="message-text">
                                <img src="{% url 'enter_website' %}media/{{ msg.msg_img }}">
                            </p>
                        {% endif %}
                        {% if user.user_pho %}
                           <img src="{% url 'enter_website' %}media/{{ user.user_pho }}" class="user-logo">
                        {% else %}
                           <img src="{% static 'images/touxiang_d.png' %}" class="user-logo">
                        {% endif %}
                      </div>
                  {% endif %}
              {% endfor %}
            </div>
          </div>
          {% if friend_id > 0 %}
          <form method="post" action="{% url 'send_msg' %}" enctype="multipart/form-data">
              <div class="send-box">
                <input type="hidden" name="send_user_id" value="{{ request.session.user_id }}">
                <input type="hidden" name="recv_user_id" value="{{ friend_id }}">
                <input type="text" name="content" class="text-input">
                <div class="el-upload">
                  <input type="file" name="file_img" class="el-upload__input">
                  <img src="{% static 'images/send-img-icon.png' %}" alt="" class="send-img-icon">
                </div>
                <button type="submit" class="el-button primary">发送</button>
              </div>
          </form>
          <div style="display: flex;justify-content: center;align-items: center;margin-top: 10px;">
            <p style="margin:10px 20px;font-size: 12px;color: red;">注意：您需要点击右侧刷新按钮，才能接收到最新的消息; 该系统不会自动刷新</p>
            <a href="{% url 'message_list' %}?message_list={{ friend_id }}"><img style="display: block;width: 20px;" src="{% static 'images/update.png' %}" alt=""></a>
          </div>
        {% else %}
            <div>暂时没有消息, 请去选择好友聊天</div>
        {% endif %}
        </div>
      </div>
    </div>
{% endblock %}