.forum-content-container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.forum-content-container .article-name {
  word-wrap: break-word;
  font-size: 28px;
  color: inherit;
  line-height: 32px;
  overflow: hidden;
  font-weight: bold;
  margin-bottom: 20px;
}
.forum-content-container .author-info {
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
}
.forum-content-container .author-info .img-box {
  height: 46px;
  margin-right: 10px;
}
.forum-content-container .author-info .img-box img {
  height: 46px;
}
.forum-content-container .author-info .right-info {
  display: flex;
  align-items: center;
}
.forum-content-container .author-info .right-info .name {
  font-size: 20px;
  line-height: 32px;
  color: #337ab7;
  margin-right: 10px;
}
.forum-content-container .author-info .right-info .icon {
  font-size: 12px;
  color: #fff;
  padding: 2px 5px;
  background-color: #000;
  margin-right: 10px;
}
.forum-content-container .author-info .right-info .time {
  font-size: 12px;
  line-height: 32px;
  color: #777;
}
.forum-content-container .article-content {
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  word-break: break-all;
}
.forum-content-container .article-content p {
  margin-bottom: 10px;
}
.forum-content-container .article-content img {
  max-width: 100%;
  display: block;
  margin: 0 auto 10px;
}
.forum-content-container .login-box {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.forum-content-container .login-box .like-box {
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.forum-content-container .login-box .like-box img {
  cursor: pointer;
}
.forum-content-container .login-box .data-box {
  width: 80px;
  margin-right: 10px;
}
.forum-content-container .login-box .data-box .num {
  font-size: 20px;
  text-align: center;
  line-height: 22px;
}
.forum-content-container .login-box .data-box .name {
  color: #777;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}
.forum-content-container .publish-box {
  width: 100%;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
.forum-content-container .publish-box .text-area {
  width: 100%;
  margin-bottom: 20px;
}
.forum-content-container .publish-box .publish-btn {
  width: 200px;
  align-self: flex-end;
}
.forum-content-container .comment-list-box {
  width: 100%;
  border-top: 1px solid #eee;
}
.forum-content-container .comment-list-box .comment-item {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.forum-content-container .comment-list-box .comment-item .top-comment {
  width: 100%;
  display: flex;
}
.forum-content-container .comment-list-box .comment-item .top-comment .img-box {
  margin-right: 10px;
}
.forum-content-container .comment-list-box .comment-item .top-comment .img-box img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box {
  width: 1120px;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .name {
  font-size: 14px;
  color: #337ab7;
  margin-bottom: 10px;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .name span {
  font-size: 12px;
  color: #777;
  margin-left: 5px;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .content {
  font-size: 16px;
  line-height: 20px;
  color: #333;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-box {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-box .left {
  display: flex;
  align-items: center;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-box .right {
  display: flex;
  align-items: center;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-box .right img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  cursor: pointer;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-box .small-img-box {
  margin-right: 5px;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-box .small-img-box img {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-box .num {
  font-size: 12px;
  color: #337ab7;
  margin-right: 5px;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-box .text {
  font-size: 12px;
  color: #333;
  margin-right: 5px;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-box .icon {
  font-size: 14px;
  color: #337ab7;
  cursor: pointer;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-list {
  display: flex;
  border-left: 5px solid #eee;
  padding-left: 60px;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-list ul li {
  display: flex;
  margin-bottom: 20px;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-list ul li:last-child {
  margin-bottom: 0;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-list .left-header-img {
  width: 46px;
  height: 46px;
  margin-right: 10px;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-list .left-header-img img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-list .right-reply-info-box .name {
  font-size: 14px;
  color: #337ab7;
  margin-bottom: 15px;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-list .right-reply-info-box .time {
  font-size: 12px;
  color: #777;
  margin-left: 5px;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-list .right-reply-info-box .reply-text {
  font-size: 16px;
  line-height: 20px;
  color: #333;
}
.forum-content-container .comment-list-box .comment-item .text-area-box {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
.forum-content-container .comment-list-box .comment-item .text-area-box .text-area {
  width: 100%;
  margin-bottom: 20px;
}
.forum-content-container .comment-list-box .comment-item .text-area-box .publish-btn {
  width: 100px;
  align-self: flex-end;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-list.reply-hidden {
  display: none;
}
