.detailed-list-2 {
  width: 100%;
  margin-bottom: 5px;
}
.detailed-list-2 .detailed-list-2-content {
  width: 100%;
  box-sizing: border-box;
  padding: 30px 22px;
  border: 1px solid #F4F5F7;
}
.detailed-list-2 ul {
  width: 100%;
}
.detailed-list-2 ul li {
  width: 100%;
  margin-bottom: 28px;
}
.detailed-list-2 ul li a {
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #343434;
  text-decoration: none;
}
.detailed-list-2 ul li a.active {
  color: #1652B5;
  border-bottom: 1px solid #1652B5;
}
.detailed-list-2 ul li:last-child {
  margin-bottom: 0;
}
.buyer-statistics-container {
  width: 100%;
}
.buyer-statistics-container .buyer-statistics-content {
  width: 100%;
}
.buyer-statistics-container .buyer-statistics-content .buyer-statistics-item {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 13px 15px 20px;
  border-bottom: 1px solid #F4F5F7;
}
.buyer-statistics-container .buyer-statistics-content .buyer-statistics-item div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.buyer-statistics-container .buyer-statistics-content .buyer-statistics-item div.no-bottom {
  margin-bottom: 0;
}
.buyer-statistics-container .buyer-statistics-content .buyer-statistics-item div h6 {
  font-size: 20px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #343434;
}
.buyer-statistics-container .buyer-statistics-content .buyer-statistics-item div p {
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #343434;
}
.buyer-statistics-container .buyer-statistics-content .buyer-statistics-item div p.red-text {
  color: #FF0000;
}
.buyer-statistics-container .buyer-statistics-content .buyer-statistics-item div p.green-text {
  color: #04BC00;
}
.collection-commodity-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}
.collection-commodity-container .collection-commodity-left-container {
  width: 380px;
  margin-bottom: 30px;
}
.collection-commodity-container .collection-commodity-right-container {
  width: 800px;
  margin-bottom: 30px;
  padding-right: 9px;
}
.collection-commodity-container .collection-commodity-right-container .title-box {
  padding-top: 14px;
}
.collection-commodity-container .collection-commodity-right-container .title-box .title {
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}
.collection-commodity-container .collection-commodity-right-container .title-box .desc {
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333333;
}
.collection-commodity-container .collection-commodity-right-container .commodity-list-box {
  width: 100%;
  margin-top: 10px;
}
.collection-commodity-container .collection-commodity-right-container .commodity-list-box li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #F0F0F0;
}
.collection-commodity-container .collection-commodity-right-container .commodity-list-box li .left-commodity-box a {
  display: flex;
  text-decoration: none;
}
.collection-commodity-container .collection-commodity-right-container .commodity-list-box li .left-commodity-box .img-box {
  width: 140px;
  height: 140px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}
.collection-commodity-container .collection-commodity-right-container .commodity-list-box li .left-commodity-box .img-box img {
  max-width: 140px;
  max-height: 140px;
  display: block;
}
.collection-commodity-container .collection-commodity-right-container .commodity-list-box li .left-commodity-box .info-box {
  width: 345px;
}
.collection-commodity-container .collection-commodity-right-container .commodity-list-box li .left-commodity-box .info-box .icon-box {
  margin-bottom: 14px;
}
.collection-commodity-container .collection-commodity-right-container .commodity-list-box li .left-commodity-box .info-box .icon-box span {
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  margin-right: 10px;
}
.collection-commodity-container .collection-commodity-right-container .commodity-list-box li .left-commodity-box .info-box .icon-box .blue-text {
  color: #1652B5;
}
.collection-commodity-container .collection-commodity-right-container .commodity-list-box li .left-commodity-box .info-box .icon-box .green-text {
  color: #008B4C;
}
.collection-commodity-container .collection-commodity-right-container .commodity-list-box li .left-commodity-box .info-box .name {
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #333333;
  line-height: 20px;
  margin-bottom: 12px;
}
.collection-commodity-container .collection-commodity-right-container .commodity-list-box li .left-commodity-box .info-box .desc {
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #343434;
  margin-bottom: 7px;
}
.collection-commodity-container .collection-commodity-right-container .commodity-list-box li .left-commodity-box .info-box .see-data {
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #343434;
  margin-bottom: 7px;
}
.collection-commodity-container .collection-commodity-right-container .commodity-list-box li .left-commodity-box .info-box .see-data span {
  margin-right: 30px;
}
.collection-commodity-container .collection-commodity-right-container .commodity-list-box li .left-commodity-box .info-box .stock {
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #343434;
}
.collection-commodity-container .collection-commodity-right-container .commodity-list-box li .right-commodity-box .name {
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #343434;
  margin-bottom: 4px;
}
.collection-commodity-container .collection-commodity-right-container .commodity-list-box li .right-commodity-box .price {
  font-size: 20px;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #EC5151;
  margin-bottom: 10px;
}
.collection-commodity-container .collection-commodity-right-container .commodity-list-box li .right-commodity-box .exchange-rate {
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #343434;
  line-height: 16px;
}
.collection-commodity-container .collection-commodity-right-container .commodity-list-box li .right-commodity-box .remove-btn {
  width: 90px;
  height: 30px;
  background: #1652B5;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 14px auto 0;
}
