.account-info-box {
  width: 100%;
  box-sizing: border-box;
  padding: 31px 8px 13px 12px;
  border: 1px solid #F4F5F7;
}
.account-info-box .account-info-left .header-img-box {
  width: 110px;
  height: 110px;
  margin: 0 auto;
}
.account-info-box .account-info-left .header-img-box img {
  display: block;
  width: 100%;
  border-radius: 50%;
}
.account-info-box .account-info-left p {
  font-size: 16px;
  font-family: Adobe Heiti Std;
  font-weight: normal;
  color: #666666;
  text-align: center;
  margin-top: 14px;
}
.account-info-box .account-info-left span {
  display: block;
  margin: 7px auto;
  width: 49px;
  height: 17px;
  text-align: center;
  background: #FF6600;
  border-radius: 9px 8px 8px 8px;
  font-size: 12px;
  line-height: 17px;
  font-family: PingFang SC;
  font-weight: 200;
  color: #FDFDFD;
}
.account-info-box .account-info-right {
  font-size: 15px;
  line-height: 24px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #343434;
  padding-top: 25px;
}
.account-info-box .account-info-right .info-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.account-info-box .account-info-right .info-item.last-info-item {
  margin-bottom: 0;
  padding-right: 30px;
}
.account-info-box .account-info-right .info-item .info-label {
  display: flex;
  flex-shrink: 0;
}
.account-info-box .account-info-right .info-item .info-label span {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.account-info-box .account-info-right .info-item .info-label span img {
  width: 100%;
}
.account-info-box .account-info-right .info-item .red-text {
  color: #FF0000;
}
.account-info-box .account-info-right .info-item .green-text {
  color: #04BC00;
}
.account-info-box .account-info-right .btn-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.account-info-box .login-btn-box {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop-growth {
  margin-top: 24px;
}
.shop-growth .shop-growth-box {
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  border: 1px solid #F4F5F7;
}
.shop-growth .shop-growth-box .shop-growth-item {
  display: flex;
  margin-bottom: 20px;
}
.shop-growth .shop-growth-box .shop-growth-item:last-child {
  margin-bottom: 0;
}
.shop-growth .shop-growth-box .shop-growth-item p {
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #343434;
  line-height: 20px;
}
.shop-growth .shop-growth-box .shop-growth-item p.label {
  width: 110px;
  margin-right: 20px;
}
.add-shop-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}
.add-shop-container .add-shop-left-container {
  width: 380px;
  margin-bottom: 30px;
}
.add-shop-container .add-shop-right-container {
  width: 810px;
  margin-bottom: 30px;
}
.add-shop-container .add-shop-right-container .title-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
  box-sizing: border-box;
  padding: 0 20px;
  border-bottom: 1px solid #F0F0F0;
}
.add-shop-container .add-shop-right-container .title-box p.title {
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333333;
  margin-bottom: 14px;
}
.add-shop-container .add-shop-right-container .form-box {
  width: 600px;
  padding: 10px 0;
}
.add-shop-container .add-shop-right-container .form-box .add-btn {
  width: 450px;
  height: 44px;
  background: linear-gradient(90deg, #008dff, #0060ff);
  box-shadow: 0px 10px 20px 0px rgba(76, 110, 245, 0.3);
  border-radius: 22px;
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
}
.add-shop-container .add-shop-right-container .form-box .avatar-uploader .avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.add-shop-container .add-shop-right-container .form-box .avatar-uploader .avatar {
  width: 178px;
  height: 178px;
  display: block;
}
.el-form .el-form-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.el-form .el-form-item .el-form-label {
  text-align: right;
  margin-right: 10px;
}
