{% extends 'backend/layout/main.html' %}
{% load staticfiles clb_tags%}
{% block head %}
    <link rel="stylesheet" href="{% static 'backend/css/index.css' %}">
{% endblock %}
{% block body %}
<div class="page-container">
    {% include 'backend/layout/left.html' %}
    <div class="page-right-container">
      {% include 'backend/layout/head.html' %}
      <div class="page-right-content-container">
        <div class="page-right-top-content-container">
          <div class="module-box">
            <div class="module-box-body">
              <div class="box-header with-border">
                <div class="btn-group">
                    <a class="btn flat btn-sm btn-default BackButton">
                        <i class="fa fa-arrow-left"></i>
                        返回
                    </a>
                </div>
              </div>
              <div class="form-horizontal dataForm" novalidate="novalidate">
                <input type="hidden" name="id" value="8">
                <div class="box-body">
                    <div class="form-group">
                        <label for="nickname" class="col-sm-2 control-label">商家LOGO</label>
                        <div class="col-sm-10 col-md-4">
                            <img src="{% url 'enter_website' %}media/{{ marchant.logo }}" alt="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nickname" class="col-sm-2 control-label">商家名称</label>
                        <div class="col-sm-10 col-md-4">
                            <p>{{ marchant.name }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nickname" class="col-sm-2 control-label">商家简介</label>
                        <div class="col-sm-10 col-md-4">
                            <p>{{ marchant.introduce }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="nickname" class="col-sm-2 control-label">商家详情</label>
                        <div class="col-sm-10 col-md-4">
                            <p>{{ marchant.detail }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="contact_user" class="col-sm-2 control-label">商品个数</label>
                        <div class="col-sm-10 col-md-4">
                            <p>{{ marchant.goods_num }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="phone" class="col-sm-2 control-label">结算比例</label>
                        <div class="col-sm-10 col-md-4">
                            <p>{{ marchant.settle_percent | keep_two_decimal_places }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="we_chat" class="col-sm-2 control-label">商家等级</label>
                        <div class="col-sm-10 col-md-4">
                            <p>{{ marchant.shop_level }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="nickname" class="col-sm-2 control-label">商家评分</label>
                        <div class="col-sm-10 col-md-4">
                            <p>{{ marchant.shop_score }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="nickname" class="col-sm-2 control-label">本月销售量</label>
                        <div class="col-sm-10 col-md-4">
                             <p>{{ marchant.month_sell_num }}</p>
                        </div>
                    </div>

                     <div class="form-group">
                        <label for="nickname" class="col-sm-2 control-label">本月销售金额</label>
                        <div class="col-sm-10 col-md-4">
                             <p>{{ marchant.month_sell_amount | keep_two_decimal_places}}</p>
                        </div>
                    </div>

                     <div class="form-group">
                        <label for="nickname" class="col-sm-2 control-label">总销售量</label>
                        <div class="col-sm-10 col-md-4">
                             <p>{{ marchant.total_sell_num }}</p>
                        </div>
                    </div>

                     <div class="form-group">
                        <label for="nickname" class="col-sm-2 control-label">总的销售金额</label>
                        <div class="col-sm-10 col-md-4">
                             <p>{{ marchant.total_sell_amount | keep_two_decimal_places }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="nickname" class="col-sm-2 control-label">调解成功次数</label>
                        <div class="col-sm-10 col-md-4">
                            <p>{{ marchant.adjust_victor }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="nickname" class="col-sm-2 control-label">调解失败次数</label>
                        <div class="col-sm-10 col-md-4">
                            <p>{{ marchant.adjust_fail }}</p>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="col-sm-12 col-md-12" style="text-align: center">
                        <div class="btn-group">
                            <a href="{% url 'goods_list' %}?marchant_name={{ marchant.name }}" type="reset" class="btn flat btn-default dataFormReset">
                                查看商家商品
                            </a>
                        </div>
                        <div class="btn-group">
                            <a href="{% url 'marchant_flow' %}?marchant_name={{ marchant.name }}" type="reset" class="btn flat btn-default dataFormReset">
                                查看商家流水
                            </a>
                        </div>
                        <div class="btn-group">
                            <a href="{% url 'marchant_cmt_data' marchant.id %}" type="reset" class="btn flat btn-default dataFormReset">
                                商家评价数据
                            </a>
                        </div>
                        <div class="btn-group">
                            <a href="{% url 'update_mct_settle' marchant.id %}" type="reset" class="btn flat btn-default dataFormReset">
                                调整结算比例
                            </a>
                        </div>
                    </div>
                 </div>
               </div>
            </div>
          </div>
        </div>
        <div class="page-right-footer-content-container">
          <strong>Copyright © 2020 <a href="/"></a>.</strong> All rights reserved.
        </div>
      </div>
    </div>
</div>
{% endblock %}
