{% load staticfiles clb_tags %}
<div class="el-dialog__wrapper express-dialog show">
  <div class="el-dialog">
    <div class="el-dialog-title">
      <p>禁用提示</p>
      <a href="{% url 'index' %}" class="close"><img src="{% static 'images/close.png' %}" alt=""></a>
    </div>
    <div class="el-dialog__body">
      <div class="el-form">
        <div class="el-form-item">
          <div class="el-form-label"></div>
          <p>您已经被强制性禁用，用户将看不到您发布的商品和商家信息，若有疑问，可以去发工单</p>
        </div>
      </div>
      <div class="el-dialog__footer">
        <a href="{% url 'submit_hd' %}" class="el-button primary">去发工单</a>
      </div>
    </div>
  </div>
</div>