{% extends 'front/layout/main.html' %}
{% load staticfiles clb_tags%}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <style>
        .captcha {
            margin-left: 140px;
            width: 160px;
            height: 80px;
        }
        #id_captcha_1 {
            width: 100%;
            max-width: 450px;
            height: 40px;
            border: 1px solid #ddd;
            border-radius: 20px;
            padding: 0 15px;
            outline: none;
            font-size: 16px;
            line-height: 40px;
            box-sizing: border-box;
        }
        #id_login_time {
             width: 100%;
             max-width: 450px;
             height: 40px;
             border: 1px solid #ddd;
             border-radius: 20px;
             padding: 0 10px;
        }
    </style>
{% endblock %}
{% block body %}
<div class="layout-box">
<ul class="breadcrumb-navigation-container">
    <li class="icon-box"><a href="{% url 'index' %}" ><img src="{% static 'images/dingdan.png' %}"></a></li>
    <span class="lj-icon"><img src="{% static 'images/jt-1.png' %}"></span>
    <div class="for-box">
      <li class="name-box">
        <a href="{% url 'login' %}">登录</a>
      </li>
      <span class="lj-icon"><img src="{% static 'images/jt-2.png' %}"></span>
    </div>
</ul>
<div class="login-container">
    <div class="login-content-container">
      <h6 class="login-title">登录哥伦布</h6>
      <p class="login-desc">欢迎来到哥伦布，请登录进入市场。如果您没有帐户，您可以注册访问列表。注册是免费的，向每个人开放。<br />如果您丢失了密码，请使用“忘记密码”表单重新设置您的密码。</p>
      <div class="form-container">
      <div class="search-select-box">
        <div class="search-select-content">
          <form action="{% url 'before_login' %}" class="el-form" method="post">
            <div class="el-form-item">
              {{ before_lg_form.user_name }}
              {% if before_lg_form.user_name.errors %}
                 <div style="color:red; margin-left:8px; margin-top:5px">
                     {{ before_lg_form.user_name.errors }}
                 </div>
              {% endif %}
            </div>
            <div class="el-form-item">
              <button class="el-button primary login-btn">下一步</button>
            </div>
          </form>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}