{% extends 'front/layout/main.html' %}
{% load staticfiles clb_tags %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}
{% block body %}
  <div class="layout-box">
    <ul class="breadcrumb-navigation-container">
      <li class="icon-box"><a href="#" ><img src="{% static 'images/dingdan.png' %}"></a></li>
      <span class="lj-icon"><img src="{% static 'images/jt-1.png' %}"></span>
      <div class="for-box">
        <li class="name-box">
          <a href="{% url 'index' %}" >修改密码</a>
        </li>
<span class="lj-icon"><img src="{% static 'images/jt-2.png' %}"></span>
      </div>
    </ul>
    <div class="account-container">
        <div class="account-basic-info">
          <div class="img-box">
            {% if request.session.user_pho %}
                <img src="{% url 'enter_website' %}media/{{ user.user_pho }}" >
            {% else %}
                <img src="{% static 'images/touxiang_d.png' %}">
            {% endif %}
          </div>
          <div class="right-info">
            <p class="name"> 用户名称:  <span> {{ user.user_name }} </span></p>
            <p class="basic">加入时间： <span style=" margin-left:2px">{{ user.created_at | hdatetime }}</span></p>
            <p class="basic">信任级别： <span style=" margin-left:2px">等级{{ user.member_level }}</span></p>
          </div>
        </div>
        <div class="el-tabs" style="margin-top: 10px;">
           {% include 'front/account/tab/tab_box.html' %}
        </div>
        <div class="el-tab-content flex">
          <form action="{% url 'update_password' %}" class="el-form" method="post">
            <div class="el-form-item flex alcenter">
              <p class="el-form-label">原密码：</p>
              {{upd_pwd_form.old_password }}
              {% if upd_pwd_form.old_password.errors %}
                 <div style="color:red; margin-left:8px; margin-top:5px">
                     {{ upd_pwd_form.old_password.errors }}
                 </div>
              {% endif %}
            </div>
            <div class="el-form-item flex alcenter">
              <p class="el-form-label">新密码：</p>
              {{upd_pwd_form.new_password }}
              {% if upd_pwd_form.new_password.errors %}
                 <div style="color:red; margin-left:8px; margin-top:5px">
                     {{ upd_pwd_form.new_password.errors }}
                 </div>
              {% endif %}
            </div>
            <div class="el-form-item flex alcenter">
              <p class="el-form-label">确认新密码：</p>
              {{upd_pwd_form.cnew_password }}
              {% if upd_pwd_form.cnew_password.errors %}
                 <div style="color:red; margin-left:8px; margin-top:5px">
                     {{ upd_pwd_form.cnew_password.errors }}
                 </div>
              {% endif %}
            </div>
            <div class="el-form-item flex alcenter">
                <div style="color:green; margin-left:8px; margin-top:5px">
                    {{ tip_msg }}
                </div>
            </div>
            <div class="el-form-item flex center">
              <button type="submit" class="el-button primary persnal-btn">保存更改</button>
            </div>
          </form>
        </div>
    </div>
  </div>
{% endblock %}
