{% extends 'front/layout/main.html' %}
{% load staticfiles clb_tags %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/order.css' %}">
{% endblock %}
{% block body %}
 <div class="layout-box">
    <ul class="breadcrumb-navigation-container">
      <li class="icon-box"><a href="#" ><img src="{% static 'images/dingdan.png' %}"></a></li>
      <span class="lj-icon"><img src="{% static 'images/jt-1.png' %}"></span>
      <div class="for-box">
        <li class="name-box">
          <a href="#" >屏蔽的商家</a>
        </li>
        <span class="lj-icon"><img src="{% static 'images/jt-2.png' %}"></span>
      </div>
    </ul>
    <div class="order-container">
        <div class="order-left-container">
          {% include 'front/public/list_item.html' %}
          {% include 'front/public/coin_rete.html' %}
        </div>
        <div class="order-right-container">
          <div class="title-box">
            <p class="title">屏蔽的商家</p>
          </div>
          <div class="el-table">
            <ul class="el-table-header">
              <li>店铺名称</li>
              <li>日期</li>
              <li>移除</li>
            </ul>
            <div class="el-table-body">
                {% if m_black_list %}
                  {% for m_black in m_black_list %}
                      <ul class="el-table_data_item">
                        <li>{{ m_black.marchant.name }}</li>
                        <li>{{ m_black.created_at | hdatetime }}</li>
                        <li>
                            <a href="{% url 'del_black' m_black.id %}" class="el-button primary">移除</a>
                        </li>
                      </ul>
                  {% endfor %}
                {% else %}
                  <div class="el-table_no_data">暂无数据</div>
                {% endif %}
            </div>
          </div>
          {% include 'front/select/pagination.html' with items=m_black_list %}
        </div>
    </div>
 </div>
{% endblock %}