.shop-admin-box {
  width: 100%;
}
.shop-admin-box .title-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
  box-sizing: border-box;
  padding: 0 20px;
  border-bottom: 1px solid #F0F0F0;
}
.shop-admin-box .title-box p.title {
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333333;
  margin-bottom: 14px;
}
.shop-admin-box .shop-admin-content {
  width: 100%;
  padding: 28px 60px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.shop-admin-box .shop-admin-content .shop-admin-item {
  width: 25%;
}
.shop-admin-box .shop-admin-content .shop-admin-item .title {
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #666666;
  text-align: center;
}
.shop-admin-box .shop-admin-content .shop-admin-item .num {
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 600;
  color: #000000;
  margin-top: 10px;
  text-align: center;
}
.shop-admin-box .shop-admin-content .shop-admin-item .publish-btn {
  width: 50px;
  height: 50px;
  background: #FFFFFF;
  border: 1px dashed #B5B5B5;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #B5B5B5;
  cursor: pointer;
}
.more a {
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333333;
  text-decoration: none;
}
