{% extends 'backend/layout/main.html' %}
{% load staticfiles clb_tags%}
{% block head %}
    <link rel="stylesheet" href="{% static 'backend/css/index.css' %}">
{% endblock %}
{% block body %}
<div class="page-container">
    {% include 'backend/layout/left.html' %}
    <div class="page-right-container">
      {% include 'backend/layout/head.html' %}
      <div class="page-right-content-container">
        <div class="page-right-top-content-container">
          <div class="module-box">
            <div class="btn-group">
                <a href="{% url 'user_detail' user_id %}" class="btn flat btn-sm btn-default BackButton">
                    <i class="fa fa-arrow-left"></i>
                    返回
                </a>
            </div>
            <div class="module-box-body">
              <div class="box-body table-responsive">
                <table class="table table-hover table-bordered datatable" width="100%">
                    <thead>
                    <tr>
                        <th>用户名</th>
                        <th>收藏的商家</th>
                        <th>收藏时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for collet_bk in collet_bk_mcts %}
                        <tr>
                            <td>{{ collet_bk.user.user_name }}</td>
                            <td>{{ collet_bk.marchant.name }}</td>
                            <td>{{ collet_bk.created_at | hdatetime }}</td>
                            <td class="td-do">
                                <a href="{% url 'b_marchant_detail' collet_bk.marchant.id %}" data-toggle="tooltip" class="btn btn-primary btn-sm">
                                    <i class="fa"></i> 详情
                                </a>
                            </td>
                        </tr>
                       {% endfor %}
                    </tbody>
                </table>
              </div>
              <div class="box-footer">
                  {% include 'backend/select/pagination.html' with items=collet_bk_mcts %}
              </div>
            </div>
          </div>
        </div>
        <div class="page-right-footer-content-container">
          <strong>Copyright © 2020 <a href="/"></a>.</strong> All rights reserved.
        </div>
      </div>
    </div>
</div>
{% endblock %}