{% extends 'front/layout/main.html' %}
{% load staticfiles clb_tags %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/seller.css' %}">
    <link rel="stylesheet" href="{% static 'css/order.css' %}">
{% endblock %}
{% block body %}
<div class="layout-box">
   <ul class="breadcrumb-navigation-container">
      <li class="icon-box"><a href="#" ><img src="{% static 'images/dingdan.png' %}"></a></li>
      <span class="lj-icon"><img src="{% static 'images/jt-1.png' %}"></span>
      <div class="for-box">
        <li class="name-box">
          <a href="{% url 'index' %}" >商家订单列表</a>
        </li>
        <span class="lj-icon"><img src="{% static 'images/jt-2.png' %}"></span>
      </div>
    </ul>
    <div class="order-container">
        <div class="order-left-container">
            {% include 'front/marchant/left/self_marchant_left.html' %}
        </div>
        <div class="order-right-container">
          <div class="el-tabs" style="margin-top: 10px;">
            <div class="tabs-box">
              {% if status == 0 %}
                <a class="el-tab active" href="{% url 'marchant_order_list' mid %}">全部</a>
              {% else %}
                  <a class="el-tab" href="{% url 'marchant_order_list'  mid %}">全部</a>
              {% endif %}
              {% if status == 1 %}
                  <a class="el-tab active" href="{% url 'marchant_order_list'  mid %}?status=1">待发货</a>
              {% else %}
                  <a class="el-tab" href="{% url 'marchant_order_list'  mid %}?status=1">待发货</a>
              {% endif %}
              {% if status == 2 %}
                  <a class="el-tab active" href="{% url 'marchant_order_list'  mid %}?status=2">待收货</a>
              {% else %}
                  <a class="el-tab" href="{% url 'marchant_order_list'  mid %}?status=2">待收货</a>
              {% endif %}
              {% if status == 3 %}
                  <a class="el-tab active" href="{% url 'marchant_order_list'  mid %}?status=3">待评价</a>
              {% else %}
                  <a class="el-tab" href="{% url 'marchant_order_list'  mid %}?status=3">待评价</a>
              {% endif %}
              {% if status == 4 %}
                  <a class="el-tab active" href="{% url 'marchant_order_list'  mid %}?status=4">已完成</a>
              {% else %}
                  <a class="el-tab" href="{% url 'marchant_order_list'  mid %}?status=4">已完成</a>
              {% endif %}
            </div>
          </div>
          <div class="order-list-container">
            {% for order in order_list %}
                <div class="order-item">
                  <p class="title">{{ order.marchant.name }}</p>
                  <div class="order-info">
                    <div class="left-commodity-box">
                      <div class="img-box">
                        <img src="{% url 'enter_website' %}media/{{ order.goods.logo }}" alt="">
                      </div>
                        <p class="name">{{ order.goods.name }}</p>
                        <p>{{ order.goods.serveice }}</p>
                      </div>
                    </div>
                    <div class="middle-commodity-box">
                      <p>数量：{{ order.buy_nums }}</p>
                      <p>状态：{{ order.status | marchant_order_status }}</p>
                    </div>
                    <div class="right-commodity-box">
                      <p class="name">买入价格</p>
                      <p class="price">¥ {{ order.cny_amount | keep_two_decimal_places }}</p>
                      <p class="exchange-rate">({{ order.pay_coin_amount | keep_two_decimal_places }} {{ order.pay_asset.name }})</p>
                      <div class="btn-box" style="margin-top:10px">
                        <a class="el-button primary" href="{% url 'marchant_order_detail' order.id %}" >查看详情</a>
                      </div>
                    </div>
                  </div>
                </div>
            {% endfor %}
          </div>
          {% include 'front/select/pagination.html' with items=order_list %}
        </div>
    </div>
</div>
{% endblock %}
